<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>realtor.com Web Demo</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6461b3">  <td>18/06/29 09:12:35</td>   <td>0</td> <td title="&gt;&gt;AbstractTestCase.setupSuit(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3e8]">&gt;&gt;setupSuit</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@313540687</td>   <td>1000 </td> </tr>
<tr bgcolor="6461b3">  <td>18/06/29 09:12:35</td>   <td>39</td> <td>&nbsp;</td><td title="&gt;&gt;AbstractTestCase.setupTest(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3e8]">&gt;&gt;setupTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@1880388899</td>   <td>1000 </td> </tr>
<tr bgcolor="6461b3">  <td>18/06/29 09:12:35</td>   <td>231</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTestCase.setup(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3e8]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@1880388899</td>   <td>1000 </td> </tr>
<tr bgcolor="6461b3">  <td>18/06/29 09:12:35</td>   <td>248</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTestCase.setupMethod(java.lang.reflect.Method, org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3e8]">&gt;&gt;setupMethod</td> 
<td>&nbsp;</td>  <td>TestNG@1880388899</td>   <td>1000 </td> </tr>
<tr bgcolor="80ba90">  <td>18/06/29 09:12:35</td>   <td>249</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="scenarios.mobileTest.bdd.realtor.com Sign Up on Mobile()[pri:1000, instance:com.qmetry.qaf.automation.step.client.Scenario@3e8]">com Sign Up on Mobile</td> 
  <td>TestNG@1880388899</td>   <td>1000 </td> </tr>
<tr bgcolor="6461b3">  <td>18/06/29 09:13:23</td>   <td>48473</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterMethod(org.testng.ITestContext, org.testng.ITestResult)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3e8]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG@1880388899</td>   <td>1000 </td> </tr>
<tr bgcolor="6461b3">  <td>18/06/29 09:13:23</td>   <td>48474</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterClass(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3e8]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@1880388899</td>   <td>1000 </td> </tr>
<tr bgcolor="6461b3">  <td>18/06/29 09:13:23</td>   <td>48476</td> <td>&nbsp;</td><td title="&lt;&lt;AbstractTestCase.afterTest(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3e8]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@1880388899</td>   <td>1000 </td> </tr>
<tr bgcolor="6461b3">  <td>18/06/29 09:13:27</td>   <td>51949</td> <td title="&lt;&lt;AbstractTestCase.afterSuit(org.testng.ITestContext)[pri:0, instance:com.qmetry.qaf.automation.step.client.Scenario@3e8]">&lt;&lt;afterSuit</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@313540687</td>   <td>1000 </td> </tr>
</table>
